@font-face {
    font-family: "PfefferMediaeval";
    src: url("fonts/PfefferMediaeval.otf");
}


#body {
    background: antiquewhite;
}


#header {
    background: ghostwhite;
    border: 1px solid mediumpurple;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#main_heading {
    font-family: "PfefferMediaeval", sans-serif;
}


#page {
    background: ghostwhite;
    border: 1px solid green;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}



.login_form_input {
    display: inline-block;
}

.chant_description_label {
    font-weight: bold;
}

.chant_description_value_cell {
    font-weight: normal;
    padding-left: 10px;
}