{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genome of Melody Editor</title>
    <link type="text/css" rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body id="body">

    <div id="header">
        {% block header %}
            <h1 id="main_heading">Genome of Melody Editor</h1>

            <!-- Home -->
            <button class="navigation_button">
                <a class="navigation_button_link" href="{% url 'GenomelEditor:index' %}">Home</a>
            </button>
            {% if user.is_authenticated %}
                <!-- Annotate! -->
                <button class="navigation_button">
                    <span><a class="navigation_button_link" href="{% url 'GenomelEditor:annotate' %}">Annotate</a></span>
                </button>

                {% if user.is_superuser %}
                <!-- Annotation admin: uploading data, looking at annotator stats, etc. -->
                <button class="navigation_button">
                    <span><a class="navigation_button_link" href="{% url 'GenomelEditor:admin_dashboard' %}">Admin dashboard</a></span>
                </button>
                {% endif %}
            {% endif %}

            <!-- Help -->
            <button class="navigation_button">
                <span><a class="navigation_button_link" href="{% url 'GenomelEditor:help' %}">Editor Help</a></span>
            </button>

            <!-- Volpiano protocols -->
            <button class="navigation_button">
                <span><a class="navigation_button_link" target="_blank" href="https://cantusdatabase.org/static/documents/2.%20Volpiano%20Protocols.pdf">Volpiano Help</a></span>
            </button>

            <!-- Volpiano checking protocols -- temporary, I will add a more tailor-made document for checkers. -->
            <button class="navigation_button">
                <span><a class="navigation_button_link" target="_blank" href="https://cantusdatabase.org/static/documents/5.%20Volpiano%20Editing%20Guidelines.pdf">Checking Help</a></span>
            </button>

            <!-- Login or logout. -->
            {% if user.is_authenticated %}
                <button class="navigation_button">
                    <span><a class="navigation_button_link" href="{% url 'GenomelEditor:logout' %}">Logout</a></span>
                </button>
                <span>Logged in as: <b>{{ user.username }}</b></span>
            {% else %}
                {% include "login.html" %}
            {% endif %}
        {% endblock %}
    </div>

    <div id="page">
        {% block page %}
        {% endblock %}
    </div>

</body>
</html>