<div id="chant_description">
    <p class="chant_description"><span class="chant_description_label">Chant ID:</span> {{ chant.id }}</p>
    <p class="chant_description"><span class="chant_description_label">Incipit:</span> {{ chant.incipit }}</p>
    <p class="chant_description"><span class="chant_description_label">Siglum:</span> {{ chant.siglum }}</p>
    <p class="chant_description"><span class="chant_description_label">Image:</span>
        <a href="{{ chant.image_link }}" target="_blank" rel="norefferer noopener">{{ chant.image_link }}</a>
    </p>
</div>
