{% extends "base.html" %}
{% block page %}

    {% block dashboard %}
        We have {{ n_chants }} chants and {{ n_melodies }} melodies in {{ n_sources }} sources.
        <br> Our annotations are {{ percent_done }}% complete.
    {% endblock %}

    {% if user.is_superuser %}
        <br>
        <a href="{% url 'GenomelEditor:admin_dashboard' %}">Admin dashboard</a>
    {% endif %}

    {% if user.is_authenticated %}
        <br>
        <a href="{% url 'GenomelEditor:annotate' %}">Annotate</a>
    {% endif %}

{% endblock %}